<!-- Shared/Index.cshtml -->
@{
    var galleriesFolder = "Gallery"; // Set default

    string galleryFolder = ViewContext.RouteData.Values["controller"]?.ToString() ?? "Shared";

    // Gallery type (used in html heading display)
    var galleryType = galleryFolder.Contains("slide", StringComparison.OrdinalIgnoreCase)
        ? "Slideshows" // obsolete?
        : "Galleries";
    galleryType ??= "Galleries"; // Set default if null

    // Target View Slideshow.cshtml or Gallery.cshtml (for the Folder Link Buttons)
    var targetView = galleryFolder.Contains("slide", StringComparison.OrdinalIgnoreCase)
        ? "Gallery" 
        : "Gallery";  
    targetView ??= "Gallery"; // Set default if null

    // Folders in current Gallery's folder
    var folders = Directory.GetDirectories(System.IO.Path.Combine(Directory.GetCurrentDirectory(), $"wwwroot/{galleriesFolder}/{galleryFolder}"))
    .Where(folder => !System.IO.Path.GetFileName(folder).StartsWith("_"))
    .Select(folder => System.IO.Path.GetFileName(folder))
    .ToList();

    // Background image stuff  
    string backgroundImage = $"{galleriesFolder}/{galleryFolder}/background.webp"; // default
    string[] imageExtensions = { ".jpg", ".png", ".webp", ".svg", }; // possible extensions        
    foreach (var extension in imageExtensions)
    {
        var imagePath = $"{galleriesFolder}/{galleryFolder}/background{extension}";
        if (System.IO.File.Exists(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot", imagePath)))
        {            
            backgroundImage = imagePath;
            break;
        }
    }
}

<!-- View Heading -->
<div class="text-center my-2">
    <h2 class="text-white">
        @galleryFolder.Replace("slide", "", StringComparison.OrdinalIgnoreCase) @galleryType
    </h2>
</div>

<!-- Link Button Menu   -->
<div class="container justify-content-center row gx-1 gx-lg-4 my-2 p-0">

    <!-- Back Link Button -->
    <div class="col-1 menu-item">
        <div class="bg-danger text-center p-0 border border border-dark rounded" style="width:50px; height: 35px;">
            <a class="menu-link text-dark" style="height: 34px; display: flex; align-items: center;" asp-controller="Info" asp-action="Index">
                <img src="lib/svg/buttons/back-white.svg" alt="Home" style="height: 24px;">
            </a>
        </div>
    </div>

    <!-- Folder Links -->
    @foreach (var folder in folders)
    {
        <div class="col-1 col-sm-2 menu-item" data-viewName="@folder">
            <div id="@folder" class="bg-gray-lighter text-center p-0 border border-dark rounded">
                <a id="@folder-link" class="menu-link text-dark" asp-controller="@galleryFolder" asp-action="Gallery" asp-route-viewName="@folder">@folder</a>
            </div>
        </div>
    }

</div>

<!-- Spacing for Large Screens if needed -->
<div class="gallery-index-view-bottom-spacing"></div>

<!-- Replaces the background-image -->
<script>
    $("body").css("background-image", "url('../@Url.Content(backgroundImage)')");
</script>