@{
    ViewData["Title"] = "Pictures01";
}
@{
    // What Type of Files?
    string extension = ".jpg";

    // Where are the files?
    string folderLocation = "../content/gallery/pictures/01/";

    // just creating the variables used later!
    string filename = "";
    string fileImage = "";
    string bgColor = "";
    string txtColor = "";
    string descriptionText = "";

}

<!-- Override background color (set to your preference) -->
<style>
    body {
        background-color: #84CBA0;
    }
</style>

<!-- Top Button placed here -->
<button onclick="topFunction()" id="top-button" title="Go to top">Top</button>

<!-- Start of the Picture View stuff -->
<div Class="container px-4 px-lg-5">

    <!-- Heading Row-->
    <div Class="row gx-4 gx-lg-5 my-3">
        <h3 class="text-center">
            <img class="card-image-size" src="~/Content/Svg/Cards/Pictures.svg" />
            <span class="text-black">Pictures:</span><span class="text-light fs-4"> 01</span>
        </h3>
    </div>

    <!-- Button Row (Active Button manually set to "btn-dark") -->
    <div class="row gx-1 gx-lg-5">

        <!-- Back Button -->
        <div class="col-3 mb-2">
            <div class="h-100 text-center text-white">
                <a class="btn bg-red-dark btn-sm group-button-size" href="~/Gallery">
                    <img class="back-button-image-size" src="~/Content/Svg/Buttons/Back-White.svg" />
                </a>
            </div>
        </div>

        <!-- Group 01 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 w-100 text-center">
                <a class="btn btn-dark btn-sm group-button-size" href="~/Gallery/Pictures01">01</a>
            </div>
        </div>

        <!-- Group 02 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 w-100 text-center">
                <a class="btn btn-primary btn-sm group-button-size" href="~/Gallery/Pictures02">02</a>
            </div>
        </div>

        <!-- Group 03 Button -->
        <div class="col-3 mb-2">
            <div class="h-100 w-100 text-center">
                <a class="btn btn-primary btn-sm group-button-size" href="~/Gallery/Pictures03">03</a>
            </div>
        </div>
    </div>

    <!-- Image List -->
    <div class="row gx-1 gx-lg-5">

        @{
            filename = "001";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "002";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "003";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "004";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "005";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "006";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "007";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "008";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "009";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "010";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "011";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "012";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "013";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "014";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "015";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "016";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>


        @{
            filename = "017";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "018";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "019";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "020";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "021";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "022";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "023";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "024";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "025";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "026";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "027";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "028";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "029";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "030";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "031";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "032";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @{
            filename = "033";
            descriptionText = "AP Nazarene";
            txtColor = "text-black";
            bgColor = "bg-white";
            fileImage = filename + extension;
        }
        <div class="col-12 col-md-2 col-lg-4 py-1">
            <div class="gallery-picture-box-size text-center m-2 @bgColor rounded border border-white">
                <a href="@folderLocation@fileImage" target="_blank">
                    <img class="gallery-picture-size img-fluid py-3 px-1" src="@folderLocation@fileImage" alt="@filename">
                </a>
                <p class="@txtColor">@descriptionText</p>
            </div>
        </div>

        @*  More pictures above here.
        Instructions:
        Copy an above section and edit "filename" and "descriptionText"
        then drop a .jpg image in the "/content/gallery/pictures/01/"
        folder. *@

    </div>
</div>

<!-- Extra Spacing to push footer down on large screens -->
<div class="picture01-view-bottom-spacing"></div>

@* Ignore this below *@

<!-- Add a "Top" button to page so we can get back to the top of the page. -->
<script>

    //Get the button
    var mybutton = document.getElementById("top-button");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

</script>
