@{
    ViewData["Title"] = "Purpose";
}
@{
	string bullet1 = "º";
}

<!-- Content Image Top -->
<div class="container pt-0 pt-md-2 pt-lg-2 px-1 px-lg-4 pb-lg-3 bg-transparent">

	<!-- Row - Image -->
	<div class="row gx-0 gx-lg-4">		

		<!-- Column - Image -->
		<div class="mx-auto col-12 my-0 mt-lg-2 pt-lg-3 pb-lg-4 mb-lg-1 lh-sm">

			<!-- Container - Image -->
			<div class="my-card-body h-100 show-at-top">
				<div class="text-center px-4 pt-3 pb-2">
					<img alt="" class="bird-size-med" src="~/lib/svg/logos/Bird-Bible-Gray.svg" />
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Content Purpose -->
<div class="my-card-radius pt-3 pt-lg-2 px-2 px-lg-4 pb-lg-3 bg-gray-lighter mx-auto w-100" style="max-width:550px;">
	
	<!-- Mission Statement -->
	<h4 class="text-decoration-underline text-gray-darker pt-2 pb-3">MISSION STATEMENT</h4>
	
	<!-- To Follow Christ -->
	<p class="fs-5 text-gray-darker ms-3 pb-2">To follow Christ together making Christ-like disciples in the nations by <b>Exalting Christ</b> and <b>Loving People!</b></p>
	
	<!-- Vision Statement -->
	<h4 class="text-decoration-underline text-gray-darker pb-3">VISION STATEMENT</h4>
	
	<!-- Exalt Christ Heading -->
	<p class="fs-5 text-gray-darker ms-3">We <b>Exalt Christ</b> by:</p>

	<!-- Exalt Christ Table -->
	<table class="table-sm table-borderless mx-auto ms-lg-5">
		<tbody>
			<tr class="align-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Uplifting, inspiring, creative worship
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Teaching and preaching relative and practical ways of internalizing Christ
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Equipping and assisting people in living out their Christianity
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Following Christ's example through the power and acceptance of the Holy Spirit
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Helping individuals discover and understand spiritual gifts and their use
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Reaching out intentionally to the unchurched
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Extending His transforming grace to all
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Fulfilling the Great Commission to children, youth and adults in preparation for a
						lifetime of growing as Christ-like disciples and making Christ-like disciples
					</p>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- We Love People Heading -->
	<p class="fs-5 text-gray-darker text-nowrap ms-3 pt-3 pb-2">And <b>We Love People</b> by:</p>

	<!-- We Love People Table -->
	<table class="table-sm table-borderless mx-auto ms-lg-5">
		<tbody>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Focusing on relationships
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Demonstrating God’s Love in tangible ways
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Serving with gladness
					</p>
				</td>
			</tr>
			<tr class=" align-text-top lh-sm">
				<td class="text-gray-darker fw-bold">
					<p class="text-gray-darker text-nowrap fs-5 mb-0 lh-sm">@bullet1</p>
				</td>
				<td class="text-gray-darker fw-normal align-top">
					<p class="text-gray-darker fs-6 mb-0 lh-sm">
						Offering opportunities for outreach in our community
					</p>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Statement of Purpose Heading -->
	<h4 class="text-gray-darker text-decoration-underline py-3">STATEMENT OF PURPOSE</h4>

	<!-- Statement of Purpose -->
	<p class="text-gray-darker fw-normal fs-6 mb-0 lh-sm ms-3 pb-3">
		The Avon Park Church of the Nazarene purposely endeavors to fulfill the Great Commission 
		and the Mandate of Christ to make Christ-like disciples and minister to all persons.
	</p>	

	<p class="text-gray-darker fw-normal fs-6 mb-0 lh-sm ms-3 pb-3">
		We preach and teach the Holy Scriptures by proclaiming Jesus Christ as Savior, Sanctifier, 
		Healer, and coming King. We proclaim unabashedly that He is the only hope for this sinful 
		world. We emphasize the mission and work of the Holy Spirit in the believer’s life, in His 
		infilling, empowering for service, guiding, and blessing for victorious Christian living.
	</p>

	<p class="text-gray-darker fw-normal fs-6 mb-0 lh-sm ms-3 pb-3">
		With divine direction and empowerment as a church, we prepare our people through continual
		nurturing, and seek to focus our ministries in areas where God gives the needed gifts and 
		talents. We seek to lead our people so they may become mature and knowledgeable in the 
		fullness of Christ and in the power of the Holy Spirit.
	</p>

	<p class="text-gray-darker fw-normal fs-6 mb-0 lh-sm ms-3 pb-3">
		We will purposely “…prepare God’s people for works of service, so the body of Christ may be
		built up until we all reach unity in the knowledge of the Son of God and become mature, 
		attaining to the whole measure of the fullness of Christ.” &nbsp;Ephesians 4:12-13 NIV<br>
		We strive to be a warm, friendly, loving, and caring Body of Believers who will minister to 
		the needs of the saved and the unsaved.
	</p>

	<p class="text-gray-darker fw-normal fs-6 mb-0 lh-sm ms-3 pb-3">
		We endeavor to be good stewards of our time, talents, and resources to provide
		programs and activities to accomplish these holy purposes.
	</p>
			
</div>

<br />
<br />
<br />

<!-- End Content -->

<!-- Change background image and color -->
<script>
	$("body").css("background-image", "url('../PageImages/Purpose.webp')");
</script>